.item {
  align-items: center;
  color: #000;
  display: flex;
  padding: 5px;
  cursor: pointer;
  border: solid 1px #ccc;
  background: #ddd;

  &:hover {
    background: #dfe3f9;
  }
  > span {
    color: #DC0099;
    font-weight: 800;
    padding: 1px 3px 0 10px;
  }
}
.disabled {
  cursor: not-allowed;
  color: rgba(53, 52, 52, 0.692);
  background: transparent;
  &:hover {
    background: transparent;
  }
  > span {
    color: rgba(53, 52, 52, 0.692);
  }
}

